<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433을 방문하십시오.
  -->
<configuration>
  <connectionStrings>
    <add name="ITTConnectionString" connectionString="server=211.43.207.12;database=WISEUSER ;userid=WISEUSER;password=WISEUSER;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <!--ms에 사용할 아이디 및 계정-->
    <add name="mssqlConnectionString" connectionString="Data Source=211.174.239.165;database=ViewData;User Id=T2LAPP;Password=xlxndpf0906!@;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <!-- Image Path -->
    <add key="FILE_PATH" value="D:/TravelCoop/TravelCoops/TravelCoopAdmin/TravelCoopAdmin" />
    <add key="EDMS_PATH" value="/Source/TravelCoop02/" />
    <add key="USER_IMAGE_SAVE_PATH" value="C:/T2LHome/Source/Edms/USER_IMAGE"/>
    <!--select 할때만 사용할 것-->
    <add key="USER_IMAGE_PATH" value="/Source/Edms/USER_IMAGE"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxUrlLength="40960" maxQueryStringLength="2097151" maxRequestLength="1024000" requestValidationMode="2.0" executionTimeout="5000"  targetFramework="4.5" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
        <add name="HttpSoap" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <!-- 
  "JSON JavaScriptSerializer를 사용하여 serialize 또는 deserialize하는 동안 오류가 발생했습니다. 
  문자열의 길이가 maxJsonLength 속성에 설정된 값을 초과합니다."
  라는 에러가 뜨기에 system.web.extensions , maxJsonLength 를 추가함
  -->
  <!--1048576-->
  <system.web.extensions>
    <scripting>
      <webServices>
        <!--<jsonSerialization maxJsonLength="1073741824" />-->
        <jsonSerialization maxJsonLength="1000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>